# M-Pesa API Configuration
# MPESA_CONSUMER_KEY=your_consumer_key_here
# MPESA_CONSUMER_SECRET=your_consumer_secret_here
# MPESA_PASSKEY=your_passkey_here
# MPESA_BUSINESS_SHORTCODE=174379
# MPESA_ENVIRONMENT=sandbox

# Service URLs
MPESA_CALLBACK_URL=http://localhost:8001/payment/callback
MPESA_TIMEOUT_URL=http://localhost:8001/payment/timeout

# Service Configuration
PORT=8001 

MPESA_CONSUMER_KEY=BaV5mFu8248FeS4SDHmmEMSJy9MJmT2yTVNBPLppUEF0HyLX
MPESA_CONSUMER_SECRET=f1gc3MBRT5fXr3zSFLcK6xXdNNOPsGxMAMnRZwCxJpBkA1rb2unoyba1WtqfxP3E
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_BASE_URL=https://sandbox.safaricom.co.ke